<div class="sa-app__footer d-block d-md-flex"><!-- copyright -->Stroyka Admin — eCommerce Dashboard Template
    © 2021<div class="m-auto"></div>
    <div>Powered by HTML — Design by <a href="https://themeforest.net/user/kos9/portfolio">Kos</a></div>
    <!-- copyright / end -->
</div><!-- sa-app__footer / end -->
</div><!-- sa-app__content / end --><!-- sa-app__toasts -->
<div class="sa-app__toasts toast-container bottom-0 end-0"></div><!-- sa-app__toasts / end -->
</div><!-- sa-app / end --><!-- scripts -->
<script src="/backend/vendor/jquery/jquery.min.js"></script>
<script src="/backend/vendor/feather-icons/feather.min.js"></script>
<script src="/backend/vendor/simplebar/simplebar.min.js"></script>
<script src="/backend/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/backend/vendor/highlight.js/highlight.pack.js"></script>
<script src="/backend/vendor/quill/quill.min.js"></script>
<script src="/backend/vendor/air-datepicker/js/datepicker.min.js"></script>
<script src="/backend/vendor/air-datepicker/js/i18n/datepicker.en.js"></script>
<script src="/backend/vendor/select2/js/select2.min.js"></script>
<script src="/backend/vendor/fontawesome/js/all.min.js" data-auto-replace-svg="" async=""></script>
<script src="/backend/vendor/chart.js/chart.min.js"></script>
<script src="/backend/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/backend/vendor/datatables/js/dataTables.bootstrap5.min.js"></script>
<script src="/backend/vendor/nouislider/nouislider.min.js"></script>
<script src="/backend/vendor/fullcalendar/main.min.js"></script>
<script src="/backend/js/stroyka.js"></script>
<script src="/backend/js/custom.js"></script>
<script src="/backend/js/calendar.js"></script>
<script src="/backend/js/demo.js"></script>
<script src="/backend/js/demo-chart-js.js"></script>
</body>
</html>